body 
{ border: solid 1px;} 





header {
    background-color:black;
    padding: 7px;
    margin-left: auto;
    margin-right: auto;
    
  
}

.h1 {
    background-color: lightpink;
    padding: 130px;
    text-align: center;
    
}

.h2 {
    background-color: #2941ab;
    padding: 100px;
    text-align: center;
}

footer {
    background-color: black;
    padding: 7px;

}

h3 {
    background-color:#d83519;
    border-radius: 20px;
    padding: 5px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    
   

}
 a:link {
    text-decoration: none;
 }

 h4 {
    background-color:#1ed760;
    border-radius: 20px;
    padding: 5px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    
   

}